.userName {
    border: 1px solid #ddd;
    padding: 6px 30px;
    backdrop-filter: contrast(0.5);
    border-radius: 5px;
    font-weight: 600;
}
.sidebar {
    width: 15%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* shadow effect */
    padding: 20px;
    display: flex;
    background: #0f0980;
    flex-direction: column;
}

.sidebar .container-fluid {
    display: flex;
    padding: 0px !important;
    align-items: center;
}

.sidebar .toggler {
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar .toggler-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
}

.sidebar .collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .nav-link {
    font-weight: bold;
    color: #fff; 
    text-decoration: none;
    font-size: 14px;
}

.sidebar .nav-link:hover {
    color: #0d6efd;
    cursor: pointer;
}

.userLogo {
    width: 80px;
    background: #ddd;
    height: 80px;
    margin: auto;
    text-align: center;
    line-height: 90px;
    border-radius: 100px;
}

.userLogo i {
    font-size: 35px;
}