<section class="d-flex justify-content-between">
    <nav class="sidebar shadow" style="min-height: 100vh;">
        <div class="container-fluid">
            <div class="collapse" id="navbarNavAltMarkup">
               <div>
                <div class="userLogo">
                    <span><i class="fa fa-user"></i></span>
                    </div>
                    <p class="text-white mt-2">Addmistration</p>
               </div>
                <div class="nav-links">
                    <a class="nav-link" routerLink="register"></a>
                    <a class="nav-link" routerLink="/admin/dashboard">Dashboard</a>
                    <a class="nav-link" routerLink="/admin/addDoctor">Add Doctor</a>
                    <a class="nav-link" routerLink="/admin/schedule">Schedule</a>
                    <a class="nav-link" routerLink="/admin/appointmentList">Create Appointment</a>
                    <a class="nav-link">Patients</a>
                </div>
            </div>
        </div>
        <div class="mt-5">
        <button class="btn btn-danger d-flex align-items-center gap-1 justify-content-center w-100" routerLink=""><span><i class="fa fa-sign-out"></i></span>Sign Out</button>
        </div>
    </nav>
    
    <div style="width: 85%">
        <router-outlet></router-outlet>
    </div>
</section>