.searchIcon {
    position: absolute;
    top: 50%;
    right: -21px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.searchIcon i {
    width: 40px;
    height: 38px;
    background: #0f0980;
    line-height: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    color: #fff;
}

.userName {
    background: #0f0980;
    padding: 6px 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1.5px 2.5px 3px #0f0980;
    border: 2px solid #0f0980;
}

.header {
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 999;
    box-shadow: 1px 0px 1px 2px #ddd;
}