.table-actions {
    display: flex;
    gap: 5px;
}

.table-custom {
    border-top: 1.5px solid #ddd; 
}

tr th {
    font-size: 16px;
    text-align: center;
}

tr th:first-child {
    text-align: unset;
}

.modal-body p {
    display: flex;
    gap: 5px;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
}

.scrollbar {
    /* overflow-x: scroll; */
}