.table-actions {
    display: flex;
    gap: 5px;
}

.table-custom {
    border-top: 1.5px solid #ddd; 
}

tr th {
    font-size: 14px;
}

.modal-body p {
    display: flex;
    gap: 5px;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
}